<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Z<sup>2</sup></title>
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <script type="text/javascript" src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
<header>
  <div class="logo">
    <img src="imgs/basicLogo.jpeg" alt="Logo" />
  </div>
  <div class="searchbar">
    <form action="search.html" method="get">
      <input type="text" name="srch" placeholder="Search..." />
      <button id="searchbtn" type="submit">Search</button>
    </form>
  </div>
  </header>
  <div class="sidebar">
    <form action="login.html" method="get">
      <button type="submit" class="sidebar-button" id="acct-btn"><img src="imgs/default_avatar.png" alt="Account Login" width="100px" height="auto"/></button>
    </form>
    <br> <% if (typeof(user) !== "undefined" && user) { %>
    <p style="color:white;"><%= user.username; %></p>
    <% } %><br>
    <form action="index.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Home</button></form>
    <form action="upload.html" method="get"><button type="submit" class="sidebar-button" id="home-btn">Upload</button></form>
    <form action="liked.html" method="get"><button type="submit" class="sidebar-button" id="liked-videos-btn">Liked Videos</button></form>
    <form action="history.html" method="get"><button type="submit" class="sidebar-button" id="history-btn">Watched Videos</button></form>
  </div>
  <div class="main-content">
    <div class="welcome-banner">Welcome To Z-Squared</div>
    <div class="video-sections">
      <div class="video-category">
        <h2>Recommended Videos</h2>
        <div class="video-grid">
          <div class="recommended-videos">
            <form action="player.html" method="get">
              <% for (const key in results) {%>
                <tr>
                  <td>
                    <hr>
                    <div id="videoTitle"><%= results[key].title %></div>
                    <br>
                    <button name="video" type="submit" value="<%= JSON.stringify(results[key]) %>"><img id="<%= results[key].url %>" class="thumbnails" src="<%= results[key].thumbnail %>" title="<%= results[key].title %>" width="480" height="320"></button>
                    <hr>
                  </td>
                </tr>
              <% } %>
            </form>
          </div>
        </div>
      </div>
      <div class="video-category">
        <h2>Watched Videos</h2>
        <div class="video-grid">
        </div>
      </div>
      <div class="video-category">
        <h2>Liked Videos</h2>
        <div class="video-grid">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>